{% if success %}
  <p>Plik dodany!</p>
{% endif %}

{% if failure %}
  <p>Błąd: {{ failure }}</p>
  <p>Spróbuj jeszcze raz!</p>
{% endif %}

<form action="{% url 'compiler:index' 'add_file' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="file" accept=".c">
  
  <!-- choose directory owner: -->
  <div>
    <label for='owner_pk'>Właściciel:</label>
    <select name="owner_pk" id="owner_pk">
      <option value="{{ user.pk }}">{{ user.username }}</option>
    </select>
  </div>

  <!-- choose parent directory: -->
  <div>
    <label for="parent_directory_pk">Wybierz lokalizację:</label>
    <select name="parent_directory_pk" id="parent_directory_pk">
      {% for directory in directories %}
      <option value="{{ directory.pk }}">{{ directory.name }}</option>
      {% endfor %}
      <option value="">---</option>
    </select>
  </div>
  
  <!-- Enter optional description, default is "" -->
  <div>
    <label for="file_description">Opis (opcjonalny):</label>
    <input type="text" name="file_description" id="file_description" value="">
  </div>
  <input type="submit" value="Upload">
</form>