<!-- Autor: Jan Roguwski -->

{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
  <title>online-C-compiler</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'compiler/styles.css' %}">
  <script src="{% static 'compiler/script.js' %}"></script>
</head>

<body class="light-mode">
  <div class="grid-container">
    <div class="topnav">
      <div class="nav-option"><a id='topnav-link' href="{% url 'compiler:file_upload' %}">Nowy Plik</a></div>
      <div class="nav-option"><a id='topnav-link' href="{% url 'compiler:create_directory' %}">Nowy Folder</a></div>
      <div class="nav-option"><a id='topnav-link' href="{% url 'compiler:file_delete' %}">Usuń Plik</a></div>
      <div class="nav-option"><a id='topnav-link' href="{% url 'compiler:delete_directory' %}">Usuń Folder</a></div>
      <div class="nav-option">Edycja</div>
      <div class="nav-option">Opcje</div>
      <div class="mode-button">
        <button onclick="toggleStyle()">Zmiana Trybu</button>
      </div>
    </div>
    <div class="sidebar">
      <div class="sidebar-header">Explorer</div>
        
        {% for directory in parent_dir_list %}
         <!-- create form choosing dir -->
        <form method="post", enctype="multipart/form-data">
          {% csrf_token %}
        <li>
        <input type="radio" name="dir_pk" value="{{ directory.pk }}">{{ directory.name }}</option>
        </li>
        <input type="submit" value="Wybierz folder">
        </form>
        {% include "compiler/tree_view_only_dirs.html" %}
        {% endfor %}
        
      
    </div>
    <div class="main">
        {% if success %}
        <div>{{success}}</div>
        {% endif %}
        {% if source_code %}
        <div>{{ source_code }}</div>
        {% endif %}
      <div class="return">
        <button><a href="{% url 'compiler:index' %}">Home</a></button>
      </div>
    </div>
    <div class="code">
      <pre>
/* My CSS */
* {
  box-sizing: border-box;
}

body {
  background-color: black;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'topnav topnav topnav'
    'sidebar main code'
    'sidebar tabs tabs';
  gap: 1px;
  grid-template-columns: 10% 60% 30%;
  grid-template-rows: 5vh 75vh 20vh;
}

.grid-container > div {
  background-color: seashell;
}

.topnav {
  grid-area: topnav;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.code {
  grid-area: code;
}

.tabs {
  grid-area: tabs;
}
faaa
aaa
aaa
aaa
aaa
dddddd
dddddd
ddddd
dddd
aaa
aaa
dddddd
dddddd
ddddd
dddd
aaa
      </pre>
    </div>
    <div class="tabs">
      <div class="tabs-menu">
        <div class="tab">Tab1</div>
        <div class="tab">Tab2</div>
        <div class="tab">Tab3</div>
        <div class="tab">Tab4</div>
        <div class="tab">Tab5</div>
        <div class="tab">Tab6</div>
        <div class="tab">Tab7</div>
        <div class="tab">Tab8</div>
        <div class="tab">Tab9</div>
        <div class="tab">Tab10</div>
        <div class="tab">Tab11</div>
        <div class="tab">Tab12</div>
        <div class="tab">Tab13</div>
        <div class="tab">Tab14</div>
      </div>
      <div class="tabs-text">
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
        Dane zależne od zakładki - w polu tym mają pojawiać się
        wartości zależne od wybranej zakładki. Na przykład po wybraniu
        zakładki sterującej wyborem procesora w tym miejscu powinna się
        pojawić możliwość wybrania jakiegoś z dostępnych procesorów.
      </div>
    </div>
  </div>
</body>
</html>