<!-- Autor: Jan Roguwski -->

{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
  <title>online-C-compiler</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'compiler/styles.css' %}">
  <script src="{% static 'compiler/script.js' %}"></script>
</head>

<body class="light-mode">
  <div class="grid-container">
    <div class="topnav">
      <div class="nav-option">
        <a id='topnav-link' href="{% url 'compiler:index' 'add_file' %}">
          Nowy Plik
        </a>
      </div>
      <div class="nav-option">
        <a id='topnav-link' href="{% url 'compiler:index' 'add_dir' %}">
          Nowy Folder
        </a>
      </div>
      
      
      <div class="nav-option">Edycja</div>
      <div class="nav-option">Opcje</div>
      <div class="nav-option"><a id='topnav-link' href="{% url 'compiler:logout' %}">Wyloguj się</a></div>
      <button onclick="toggleStyle()">Zmiana Trybu</button>

    </div>
    <div class="sidebar">
      <div class="sidebar-header">Witaj {{user.username}}!</div>
      <ul>
        {% for directory in parent_dir_list %}
        {% include "compiler/tree_view.html" %}
        {% endfor %}
      </ul>
      {% if free_files %}
        <!-- Print all files with hyperlinks -->
        {% for file in free_files %}
          <div class="file">
            <a href="{% url 'compiler:index' 'show_file' file.pk %}">{{ file.name }}</a>
            <a href="{% url 'compiler:delete_file' file.pk %}">Usuń</a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="main">
      {% if mode == 'show_file' %}
        <pre>
          {% if source_code %}
{{ source_code }}
          {% endif %}
        </pre>
      {% endif %}
      
      {% if mode == 'add_file' %}
        {% include "compiler/add_file.html" %}
      {% endif %}
      
      {% if mode == 'add_dir' %}
        {% include "compiler/add_dir.html" %}
      {% endif %}
      
    </div>
    <div class="code">
      {% if result %}
        <pre>
{{ result }}
        </pre>
      {% endif %}
    </div>
    <div class="tabs">
      <div class="tabs-menu">
        <button class="tab_button" onclick="openTab(event, 'STD')">STANDARD</button>
        <button class="tab_button" onclick="openTab(event, 'OPT')">Optymalizacje</button>
        <button class="tab_button" onclick="openTab(event, 'PROC')">Procesor</button>
        <button class="tab_button" onclick="openTab(event, 'DEP')">Zależne</button>
      </div>
      <div id="STD"class="tabs-text">
        {% if STD %}
          <p>
            Aktualny standard: {{ STD }}
          </p>
        {% endif %}

        <form method="POST">
          {% csrf_token %}
          <select name="STD">
            <option value="c11">C11</option>
            <option value="c99">C99</option>
            <option value="c89">C89</option>
          </select>
          <input type="submit" value="Wybierz">
        </form>
      </div>
      <div id="OPT"class="tabs-text">
        {% if OPT %}
          <p>
            Wybrane optymalizacje: 
            {% for opt in OPT %}
              {{ opt }} 
            {% endfor %}
          </p>
        {% endif %}
        <form method="POST">
          {% csrf_token %}
          <input type="checkbox" name="OPT" value="--nogcse">--nogcse</input>
          <input type="checkbox" name="OPT" value="--noinvariant">--noinvariant</input>
          <input type="checkbox" name="OPT" value="--noinduction">--noinduction</input>
          <input type="checkbox" name="OPT" value="--noinvariant">--noinvariant</input>
          <input type="checkbox" name="OPT" value="--nojtbound">--nojtbound</input>
          <input type="checkbox" name="OPT" value="--noloopreverse">--noloopreverse</input>
          <input type="checkbox" name="OPT" value="none">brak</input>
          <input type="submit" value="Wybierz">
        </form>
      </div>
      <div id="PROC"class="tabs-text">
        {% if PROC %}
          <p>
            Aktualny procesor: {{ PROC }}
          </p>
        {% endif %}

        <form method="POST">
          {% csrf_token %}
          <select name="PROC">
            <option value="MCS51">MCS51</option>
            <option value="Z80">Z80</option>
            <option value="STM8">STM8</option>
          </select>
          <input type="submit" value="Wybierz">
        </form>
      </div>
      <div id="DEP"class="tabs-text">
        {% if PROC %}
          <p>
            Wybrane zależności dla procesora {{ PROC }}: 
            {% for dep in DEP %}
              {{ dep }} 
            {% endfor %}
          </p>
          <form method="POST">
            {% csrf_token %}
            {% if PROC == 'MCS51' %}
              <input type="checkbox" name="DEP" value="--model-small">--model-small</input>
              <input type="checkbox" name="DEP" value="--model-medium">--model-medium</input>
              <input type="checkbox" name="DEP" value="--model-large">--model-large</input>
              <input type="checkbox" name="DEP" value="--model-huge">--model-huge</input>
            {% endif %}
            {% if PROC == 'Z80' %}
              <input type="checkbox" name="DEP" value="--no-std-crt0">--no-std-crt0</input>
              <input type="checkbox" name="DEP" value="--callee-saves-bc">--callee-saves-bc</input>
              <input type="checkbox" name="DEP" value="--reserve-regs-iy">--reserve-regs-iy</input>
            {% endif %}
            {% if PROC == 'STM8' %}
              <input type="checkbox" name="DEP" value="--model-medium">--model-medium</input>
              <input type="checkbox" name="DEP" value="--model-large">--model-large</input>
            {% endif %}
              <input type="checkbox" name="DEP" value="none">brak</input>
            <input type="submit" value="Wybierz">
          </form>
        {% else %}
          <p>
            Wybierz procesor
          </p>
        {% endif %}
      </div>
    </div>
    <script>
      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabs-text");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab_button");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>
  </div>
</body>
</html>