<li>
  <div class="directory">
    {{ directory.name }}
    <a href="{% url 'compiler:delete_directory' directory.pk %}">Usuń</a>
  </div>
  {% if directory.children %}
  <ul>
    {% for child in directory.children %}
    {% with directory=child template_name="compiler/tree_view.html" %}
    {% include template_name %}
    {% endwith %}
    {% endfor %}
  </ul>
  {% endif %}
  {% if directory.files %}
    <!-- Print all files with hyperlinks -->
    {% for file in directory.files %}
      <div>
        <a href="{% url 'compiler:index' 'show_file' file.pk %}">{{ file.name }}</a>
        <a href="{% url 'compiler:delete_file' file.pk %}">Usuń</a>
      </div>
    {% endfor %}
  {% endif %}
</li>