<li>
    {{ directory.name }}
    <button onclick="deleteDirectory('{{directory.pk}}')">Usuń</button>
  {% if directory.children %}
  <ul>
    {% for child in directory.children %}
    {% with directory=child template_name="compiler/tree_view.html" %}
    {% include template_name %}
    {% endwith %}
    {% endfor %}
  </ul>
  {% endif %}
  {% if directory.files %}
    <!-- Print all files with hyperlinks -->
    {% for file in directory.files %}
      <div class="file" id="{{ file.pk }}">
        <button onclick="showFile('{{file.pk}}')">{{file.name}}</button>
        <button onclick="deleteFile('{{file.pk}}')">Usuń</button>
      </div>
    {% endfor %}
  {% endif %}
</li>
