{% if directory.children %}
<ul>
  <!-- create form choosing dir -->
  <form method="post", enctype="multipart/form-data">
    {% csrf_token %}
    {% for child in directory.children %}
    <li>
    <input type="radio" name="dir_pk" value="{{ child.pk }}">{{ child.name }}</option>
    </li>
    {% with directory=child template_name="compiler/tree_view_only_dirs.html" %}
    {% include template_name %}
    {% endwith %}
    {% endfor %}
    <input type="submit" value="Wybierz folder">
  </form>
</ul>
{% endif %}